*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-image: url(./img/picture\ 53.webp);
    background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;   
}
h1{
    color: red;

}