*{
    padding: 0px;
    margin: 0px;
}

body{
    background: rgb(104, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    width: 70%;
    background: black;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.box-log>h1 {
    font-size: 35px;
    color: white;
}

.red{
    color: brown !important;
}

.box-item{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.box-item>a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    text-decoration: none;
}