* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #221F51;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    align-items: center;
    height: 50vh;

}

.container>div {
    height: 261px;
    justify-content: center;
    align-items: center;
    display: flex;
}

