* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* gap: 39px; */
    justify-content: center;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 50px;
}

main>div {
    border: 1px solid red;
    height: 270px;
}

section {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    padding: 0px 50px;
}

section>div {
    border: 1px solid red;
    height: 180.5px;
}

.style {
    width: 180.5px;
    height: 270.25px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--ui-white, #FFF);
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
}

.img-style {
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    box-sizing: border-box
}

.price-style {
    color: var(--ui-black, #000);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-style {
    width: 157px;
    flex-shrink: 0;
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 124.188%;
}